.topLine {
  position: absolute;
  top: 60px;
  left: 0;
  margin: 0 10mm 0 20mm;
  width: calc(100% - 60mm);
  height: 2px;
  background-color: black;
}

.bottomLine {
  position: absolute;
  bottom: 56px;
  left: 0;
  margin: 0 10mm 0 20mm;
  width: calc(100% - 30mm);
  height: 2px;
  background-color: black;
}

.bottomText {
  position: absolute;
  bottom: 42px;
  left: 20mm;
}

.topLogo {
  position: absolute;
  top: 38px;
  right: 10mm;
}
