/* hide leaflet-draw controls  */
:global(.leaflet-draw.leaflet-control) {
  display: none;
}

:global(.custom-map-marker) {
  display: flex;
  align-items: flex-start;
}

:global(.custom-map-marker-tooltip) {
  position: relative;
  left: 0;
  top: -5px;
  z-index: 10 !important;
  box-shadow: 2px 2px 10px gray;
  text-wrap: nowrap;
  font-weight: 600;
  font-family: var(--mb-default-font-family), sans-serif;
  font-size: 12px;
  line-height: 12px;
  padding: 3px 6px 4px;
  border-radius: 4px;
  background: hsla(0deg, 0%, 100%, 0.9);
  display: flex;
  align-items: center;
  color: #333;
}

:global(.custom-map-marker-wrapper:hover) {
  z-index: 999999 !important;
}
