<html>
  <head> </head>
  <body>
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      style="
        font-family: 'Manrope', 'Helvetica Neue', Helvetica, sans-serif;
        padding: 1em;
        text-align: center;
        background-color: #ffffff;
        max-width: 600px;
        border: 0;
        margin: 0;
        padding: 0;
      "
    >
      <tbody>
        <tr>
          <td align="center" valign="middle" style="padding: 0 0 2em 0">
            <img
              alt=""
              border="0"
              width="250"
              style="width: 250px; display: block; margin: auto"
              src="https://metabase.estatet.ru/app/img/bridge.png"
            />
          </td>
        </tr>
        <tr>
          <td align="center" valign="middle" style="padding: 0 0 2em 0">
            <p>{{invitedName}}, добро пожаловать на платформу SPN report!</p>
            <p>
              Аналитическая цифровая платформа SPN report позволит оперативно и
              наглядно получать информацию по рынку недвижимости.
            </p>
          </td>
        </tr>
        <tr>
          <td align="center" valign="middle">
            <table
              border="0"
              cellpadding="20"
              cellspacing="0"
              style="
                font-family: 'Manrope', 'Helvetica Neue', Helvetica, sans-serif;
                border-collapse: separate;
                line-height: 100%;
              "
            >
              <tr>
                <td
                  align="center"
                  bgcolor="#e20613"
                  valign="middle"
                  style="border-collapse: collapse; background: #e20613"
                >
                  <a
                    style="
                      font-family: 'Manrope', 'Helvetica Neue', Helvetica,
                      sans-serif;
                      display: inline-block;
                      box-sizing: border-box;
                      text-decoration: none;
                      font-size: 1rem;
                      background: #e20613;
                      cursor: pointer;
                      text-decoration: none;
                      font-weight: bold;
                      border-radius: 0;
                      background-color: #e20613;
                      color: #ffffff;
                    "
                    href="{{joinUrl}}"
                    >Присоединиться</a
                  >
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
