<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,700;1,900"
      rel="stylesheet"
    />
  </head>
  <body    
      style="
        font-family: 'Manrope', 'Helvetica Neue', Helvetica, sans-serif;
        padding: 1em;
        text-align: center;
      ">
      <img
        style="width: 250px; margin-bottom: 2em"
        src="https://metabase.estatet.ru/app/img/bridge.png"
      />
      <div>
        Нажмите кнопку ниже для восстановления пароля для вашего аккаунта в SPN
        report.
      </div>
      <div style="margin-top: 2em">
        <a
          style="
            display: inline-block;
            box-sizing: border-box;
            text-decoration: none;
            font-size: 1rem;
            padding: 0.8rem 2.25rem;
            background: #e20613;
            cursor: pointer;
            text-decoration: none;
            font-weight: bold;
            border-radius: 0;
            background-color: #e20613;
            color: #ffffff;
          "
          href="{{passwordResetUrl}}"
          >Сбросить пароль</a
        >
      </div>
  </body>
</html>
